.home {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  
}
.carousel {

  width: 90%;
  object-fit: fill;
  margin-top: 65px;
  margin-bottom: 10px;
  align-self: center;
  background-color: white;
}

img {
  
  text-align: center;
  width: 300px;
}

