body {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 244, 244);
  align-items: center;
}
.table {
  margin-top: 70px;
  font-size: 25px;
  align-self: center;
  width: 100%;
}
.stuff {
  display: flex;
  flex-direction: column;
  width: 1100px;
}
h1{
  display: flex;
  align-content: center;
}
.title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 3rem;
  align-self: center;
}

.title-row {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 3rem;
}

.title-data {
  margin-right: 3rem;
  margin-left: 3rem;
}

.content-row {
  border: solid;
  border-width: 1.5px;
  border-color: black;
  margin: 3px;
}

button {
  width: 10rem;
  border-width: 1.5px;
  border-color: black;
}