body {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 244, 244);
  align-items: center;
}
.table {
  margin-top: 70px;
  font-size: 25px;
  align-self: center;
}
.stuff {
  display: flex;
  flex-direction: column;
}
h1{
  display: flex;
  align-content: center;
}
.title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 3rem;
  align-self: center;
}
