@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@700&family=Satisfy&family=Tangerine:wght@700&family=Yellowtail&display=swap');

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  border-bottom: 1px solid black;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
  font-size: 3rem;
  z-index: 1000;
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.nav div.logo {
  width: auto;
  height: auto;
}

.nav div.logo a {
  text-decoration: none;
  color: #000000;
  font-size: 3rem;
}

.nav div.logo a:hover {
  color: #00E676;
}

.nav div.main_list {
  height: 65px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #000000;
  line-height: 65px;
}
.nav div.main_list ul li input{
  line-height: 60px;
}

.nav div.main_list ul li a:hover {
  color: #00E676;
}
.searchBar {
  border: 1px solid black;
  padding-right: 0;
  margin-right: 3rem;
  font-size: 2rem;
}
.searchBar button {
  height: 3rem;
}
.dropdown {
  cursor: pointer;
  position: relative;
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
  color: #000000;
  line-height: 65px;
  font-size: 3rem;
}

.dropdown-content {
  color: black;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 2.5rem;

}

.dropdown:hover .dropdown-content {
  cursor: pointer;
  display: block;
}