.recipe-list-item {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 420px;
  align-self: center;
  border: 3px;
  border-color: black;
  border-style: double;
  padding: 5px;
  margin: 10px;
  background-color: white;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.profile-info {
  width: 800px;
  margin-left: 200px;
}
.profile-pic {
  display: flex;
  width: 300px;
  margin-top: 2px;
}

.recipe-title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 55px;
}

.description {
  overflow: hidden;
  white-space: wrap;
}