.recipe-detail {
  margin: 0rem 20rem;
  font-family: Helvetica, sans-serif;

  font-size: 2rem;
}

.recipe-name{
  font-size: 3.5rem;
  text-align: left;
  font-weight: bold;
}

.chef-name {
  padding-bottom: 3rem;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
}
iframe {
  width: 80%;
  height: 60rem;
  padding-bottom: 2rem;
}

.ingredients {
  padding-bottom: 2rem;
}

